.cell {
    width: 15px;
    height: 15px;
}
.prompt{
    top: -45px;
    left: -66px;
    display: none;
    position: absolute;
    z-index: 1;
    background: #000;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    color: #7C7C7C;
    white-space: nowrap;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 12.1px;
}
.prompt::after{
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #000;
    position: absolute;
    top: 30px;
    left: 66px;
    z-index: -1;
}
.prompt p{
    margin: 0;
    padding: 0;
}
.prompt p:first-child{
    color: #fff;
    font-size: 12px;
    line-height: 14.52px;
}
.cell_wrapper{
    position: relative;
    border: 1px solid #EDEDED;
}
.cell_wrapper:hover{
    border: 1px solid #959595;

}
.cell_wrapper:active .prompt{
    display: block;
}
.c0 {
    background: #EDEDED;
}

.c1-9 {
    background: #ACD5F2;
}

.c10-19 {
    background: #7FA8C9;
}

.c20-29 {
    background: #527BA0;
}

.c30 {
    background: #254E77;
}

.board {
    max-width: 816px;
    display: grid;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    grid-template-columns: repeat(51, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
}
